version: 1.0.{build}

os: Windows Server 2012

platform:
  - x64

init:
  - SET PATH=C:\Python27-x64\;%PATH%

configuration: Release

environment:
  # set the directory to use for OSGeo4W install, our CMake find packages know
  # to look here
  OSGEODIR: C:\OSGeo4W64

  matrix:
    - PDAL_OPTIONAL_COMPONENTS: OFF
    - PDAL_OPTIONAL_COMPONENTS: ON

install:
  # make a temp directory for downloading osgeo4w-setup.exe
  # this may not matter as much if part of the install step, as pdal has
  # already been cloned, otherwise git would complain about a non-empty
  # directory
  - ps: mkdir C:\temp | out-null

  # make the osgeo directory
  - ps: mkdir %OSGEODIR% | out-null

  # make an install directory for packacing
  - ps: mkdir C:\pdalbin | out-null

  # get the OSGeo installer
  - ps: wget http://download.osgeo.org/osgeo4w/osgeo4w-setup-x86_64.exe -OutFile C:\temp\osgeo4w-setup.exe | out-null

  # and install our dependencies
  - C:\temp\osgeo4w-setup.exe -s http://download.osgeo.org/osgeo4w/ -a -q -P boost-devel,eigen,gdal,geos,hexer,iconv,laszip,libgeotiff,libtiff,libpq,libxml2,nitro,pcl,points2grid,proj,python-numpy,zlib -R %OSGEODIR% > nul

  # call our PDAL install script
  - call .\\scripts\\appveyor\\config.cmd

#cache:
#  # this should cache our OSGeo4W install between jobs in the build matrix
#  - C:\OSGeo4W64

build:
  parallel: true
  project: PDAL.sln
  verbosity: minimal

# after_build:
#   - call .\\scripts\\appveyor\\install.cmd

notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false

  - provider: Slack
    auth_token:
      secure: Ycvea4CbhP10k3tQwTr9vU2QMdYa4JusDfbCoOwkns2O87afn/G5eBsUakdM/eyW
    channel: '#pdal'
    on_build_failure: true
    on_build_success: false
    on_build_status_changed: true

after_build:
  - 7z a pdal.zip %APPVEYOR_BUILD_FOLDER%\bin\*.*

artifacts:
  - path: pdal.zip
    name: pdalmaster

deploy:
    # Amazon S3 deployment provider settings
  - provider: S3
    access_key_id:
      secure: 6DDLMtbxyT6amL3m5gmMObyL0ucWzIGxylinnYuMJPM=
    secret_access_key:
      secure: cSqZlsaCxFwXgxJw0BLd7npMFvQk3Vbr74ZPLaBQWLKnOz1cKss9qab1SzSygwkh
    bucket: "pdal"
    folder: "osgeo4w/"
    artifact: pdalmaster
    set_public: true

#test_script:
#  - "SET PATH=%OSGEODIR%\\bin;%PATH%"
#  - echo %PATH%
#  - ctest --output-on-failure -C Release -VV

matrix:
  fast_finish: true
