version: 1.0.{build}

os: Visual Studio 2015

platform: x64

configuration:
  - Testing
  - Conda

matrix:
  fast_finish: true

# Should speed up repository cloning
shallow_clone: true
clone_depth: 5

# init:
    #  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

    #on_finish:
    # - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

cache:
    C:\Miniconda3-x64\pkgs -> appveyor.yml

install:
 - call scripts\\appveyor\\config.cmd

for:
 -
   matrix:
     only:
       - configuration: Testing

   build_script:
     - call scripts\\appveyor\\test\\build.cmd

   test_script:
     - call scripts\\appveyor\\test\\test.cmd
 -
   matrix:
     only:
       - configuration: Conda

   build_script:
     - call scripts\\appveyor\\conda\\build.cmd

artifacts:
  - path: pdal-$(APPVEYOR_REPO_COMMIT)-py37_appveyor.tar.bz2
    name: pdalconda
    type: file

deploy:
    # Amazon S3 deployment provider settings
  - provider: S3
    access_key_id:
      secure: 6DDLMtbxyT6amL3m5gmMObyL0ucWzIGxylinnYuMJPM=
    secret_access_key:
      secure: cSqZlsaCxFwXgxJw0BLd7npMFvQk3Vbr74ZPLaBQWLKnOz1cKss9qab1SzSygwkh
    on:
      branch: conda-appveyor
    bucket: "pdal"
    folder: "conda/"
    artifact: pdalconda
    set_public: true

notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false

  - provider: Slack
    incoming_webhook:
      secure: KxbDvaPmsvNmYpsp0TH3m3hJr7PqQL1sxR8xILBzaF2Lbku03M3mJ/h787TvDGQGX3IlyZtfTP0wvSRqMl4nMmdvDQZoAe8+Gyfc7BOkYIg=

