name: Linux

on:
  push:

jobs:
  build:
    name: Linux ${{ matrix.type }}

    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: true
      matrix:
        type: ['floating','fixed']
    env:
      BUILD_TYPE: ${{ matrix.type }}

    steps:
    - uses: actions/checkout@v2
    - uses: goanpeca/setup-miniconda@v1
      with:
        channels: conda-forge
        auto-update-conda: true

    - name: Setup
      shell: bash -l {0}
      run: |
          source ./scripts/ci/linux/setup.sh

    - name: CMake
      shell: bash -l {0}
      run: |
          source ../scripts/ci/linux/cmake.sh
      working-directory: ./build

    - name: Compile
      shell: bash -l {0}
      run: |
          source ../scripts/ci/linux/compile.sh
      working-directory: ./build

    - name: Test
      shell: bash -l {0}
      run: |
          source ../scripts/ci/linux/test.sh
      working-directory: ./build

    - name: Examples
      shell: bash -l {0}
      run: |
          source ./scripts/ci/linux/examples.sh

