name: OSX

on: [push, pull_request]

jobs:
  build:
    name: OSX

    runs-on: 'macos-latest'
    strategy:
      fail-fast: true
      matrix:
        type: ['floating','fixed']
    env:
      BUILD_TYPE: ${{ matrix.type }}
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2
    - name: Cache Conda Environment
      uses: actions/cache@v2
      with:
        path: ~/conda_pkgs_dir
        key: ${{ runner.os }}-${{ steps.get-date.outputs.today }}-conda-${{ env.CACHE_NUMBER }}
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-variant: Mambaforge
        miniforge-version: latest
        use-mamba: true
        auto-update-conda: true
        use-only-tar-bz2: true

    - name: Setup
      run: |
          source ./scripts/ci/osx/setup.sh

    - name: CMake
      run: |
          source ../scripts/ci/osx/cmake.sh
      working-directory: ./build

    - name: Compile
      run: |
          source ../scripts/ci/osx/compile.sh
      working-directory: ./build

    - name: Test
      run: |
          source ../scripts/ci/osx/test.sh
      working-directory: ./build

    - name: Examples
      run: |
          source ./scripts/ci/osx/examples.sh

