name: Windows

on: [push, pull_request]

jobs:
  build:
    name: MSVC

    runs-on: 'windows-latest'
    strategy:
      fail-fast: true
      matrix:
        type: ['floating','fixed']
    defaults:
      run:
        shell: bash -l {0}
    env:
      BUILD_TYPE: ${{ matrix.type }}

    steps:
    - uses: actions/checkout@v2
    - uses: ilammy/msvc-dev-cmd@v1
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-variant: Mambaforge
        miniforge-version: latest
        use-mamba: true
        auto-update-conda: true
        python-version: '3.8'

    - name: Setup
      run: |
          source ./scripts/ci/win/setup.sh

    - name: CMake
      working-directory: ./build
      run: |
          source ../scripts/ci/win/cmake.sh

    - name: Compile
      working-directory: ./build
      run: |
          source ../scripts/ci/win/compile.sh

    - name: Test
      working-directory: ./build
      run: |
          source ../scripts/ci/win/test.sh

    - name: Examples
      run: |
          source ./scripts/ci/win/examples.sh


