name: Windows

on:
    push:
        paths-ignore:
            - 'doc/**'
    pull_request:
        paths-ignore:
            - 'doc/**'


concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true


jobs:
  build:
    name: MSVC

    runs-on: 'windows-latest'
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"

    strategy:
      fail-fast: true
      matrix:
        type: ['floating','fixed']
    defaults:
      run:
        shell: bash -l {0}
    env:
      BUILD_TYPE: ${{ matrix.type }}

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1
    - name: Cache Conda Environment
      uses: actions/cache@v2
      with:
        path: ~/conda_pkgs_dir
        key: ${{ runner.os }}-${{ steps.get-date.outputs.today }}-conda-${{ env.CACHE_NUMBER }}
    - uses: mamba-org/setup-micromamba@v1
      with:
        init-shell: bash
        environment-file: scripts/ci/environment.yml
        environment-name: "pdal-build"
        cache-environment: true
        cache-downloads: true


    - name: Setup
      run: |
          source ./scripts/ci/win/setup.sh

    - name: CMake
      working-directory: ./build
      run: |
          source ../scripts/ci/win/cmake.sh

    - name: Compile
      working-directory: ./build
      run: |
          source ../scripts/ci/win/compile.sh

    - name: Test
      working-directory: ./build
      run: |
          source ../scripts/ci/win/test.sh

    - name: Examples
      run: |
          source ./scripts/ci/win/examples.sh


